:root {
    --primary1: hsl(171, 66%, 44%);
    --primary2: hsl(233, 100%, 69%);
    --neutral1: hsl(210, 10%, 33%);
    --neutral2: hsl(201, 11%, 66%);
}
* {
    margin: 0;
    padding: 0;
    font-family: "Bai Jamjuree", sans-serif;
}
main {
    text-align: center;
    width: 85%;
    margin: 5rem auto 0;
}
h1 {
    /* color: var(--neutral1); */
    font-weight: 400;
    font-size: 1.4rem;
    margin: 3rem 0 1rem;
}
h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 5rem 0 1.0rem;
}
h3 {
    font-weight: 400;
    font-size: 1.0rem;
    margin: 2rem 0 0.5rem;
}
p {
    color: var(--neutral2);
    font-size: 0.8rem;
    line-height: 1.7;
    margin-bottom: 2rem;
}


.logo {
    width: 85px;
}
.download-sections {
    display: flex;
    flex-direction: column;
}
.button {
    color: white;
    font-size: 0.8rem;
    padding: 0.7rem;
    border: outset 1px var(--neutral2);
    margin-bottom: 1.2rem;
    border-radius: 1.5rem;
}
.ios {
    background-color: var(--primary1);
    box-shadow: 0 0.5rem 0.5rem -0.4rem var(--primary1);
}
.mac {
    background-color: var(--primary2);
    box-shadow: 0 0.5rem 0.5rem -0.4rem var(--primary2);
}


.device-image, .computer-image {
    width: 100%;
}