:root {
    --primary1: hsl(171, 66%, 44%);
    --primary1-80: hsl(171, 66%, 44%, 80%);
    --primary2: hsl(233, 100%, 69%);
    --primary2-80: hsl(233, 100%, 69%, 80%);
    --neutral1: hsl(210, 10%, 33%);
    --neutral2: hsl(201, 11%, 66%);
    --neutral3: hsl(211, 20%, 97%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree", sans-serif;
}
body {
    background-image: url('../images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-size: contain;
}
main {
    text-align: center;
    width: 85%;
    margin: 6rem auto 0;
}
h1 {
    /* color: var(--neutral1); */
    font-weight: 400;
    font-size: 1.4rem;
    margin: 3rem 0 1rem;
}
h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 6rem 0 1.0rem;
}
h2:nth-of-type(3){
    margin: 4rem 0 1.0rem;
}
h3 {
    font-weight: 400;
    font-size: 1.0rem;
    margin: 2rem 0 0.5rem;
}
p {
    color: var(--neutral2);
    font-size: 0.8rem;
    line-height: 1.7;
    margin-bottom: 2rem;
}

.logo {
    width: 85px;
}
.download-sections {
    display: flex;
    flex-direction: column;
}
.button {
    color: white;
    font-size: 0.8rem;
    padding: 0.7rem;
    border: outset 1px var(--neutral2);
    margin-bottom: 1.2rem;
    border-radius: 1.5rem;
}
.ios {
    background-color: var(--primary1);
    box-shadow: 0 0.5rem 0.5rem -0.4rem var(--primary1);
}
.ios:hover {
    background-color: var(--primary1-80);
}
.mac {
    background-color: var(--primary2);
    box-shadow: 0 0.5rem 0.5rem -0.4rem var(--primary2);
}
.mac:hover {
    background-color: var(--primary2-80);
}
.device-image, .computer-image {
    width: 100%;
}
.supercharge-text {
    margin-bottom: 4rem;
}
.icons {
    width: 32px;
}
.logos-section {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 4rem;
}
.partner-logo {
    height: auto;
    width: 6rem;
    margin: 3rem auto 0;
}
.footer-section {
    background-color: var(--neutral3);
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
}
.logo-footer {
    margin: 3rem 0;
    width: 40px;
}
.footer-links-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-links {
    color: var(--neutral2);
    font-size: 0.8rem;
    margin-bottom: 1rem;
    text-decoration: none;
}
.social-icons-div {
    margin: 2rem 0;
}
.social-icons {
    margin-right: 2rem;
    width: 18px;
}
.social-icons:nth-of-type(3) {
    margin-right: 0;
}
.attribution {
    font-size: 0.8rem;
    width: 100vw;
    padding: 1%;
    text-align: center;
}

@media (min-width: 800px){
    body {
        background-image: url('../images/bg-header-desktop.png');
    }
    p, .download-sections {
        margin: 0 auto 2rem;
        width: 450px;
    }
    .download-sections {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .button {
        width: 150px;
    }
    .snippets-section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
    }
    .computer-image {
        height: 400px;
        width: auto;
    }
    .snippets-text p {
        width: 100%;
    }
    .snippets-text {
        padding: 3rem 0 3rem 5%;
        text-align: left;
        width: 50%;
    }
    .device-image {
        max-height: 400px;
        width: auto;
    }
    .workflow-section p {
        width: 280px;
    }
    .workflow-section {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
    .workflow-section div:nth-of-type(2) {
        margin: 0 2rem;
    }
    .logos-section {
        flex-direction: row;
        justify-content: center;
        max-width: 900px;
        margin: 3rem auto 4rem;
    }
    .partner-logo {
        height: min-content;
    }
    .footer-section {
        position: relative;
        flex-direction: row;
        align-items: center;
        height: 100px;
    }
    .logo-footer{
        margin: 3rem 5rem;
    }
    .footer-links-div {
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: 70%;
        width: 40%;
        margin: auto 0 0;
    }
    .social-icons-div {
        position: absolute;
        right: 4rem;
    }
}